$brown: #4f260b;

header{
    .header_wrap{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 7% 0px 2.8%;
        .header_logo{
            width: 226px;
            img{
                width: 100%;
                vertical-align: bottom;
                border: none;
            }
        }
        .pc_nav{
            display: block;
            ul{
                display: flex;
                justify-content: space-between;
                li{
                    width: 105px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    font-family: 游ゴシック体, YuGothic, 游ゴシック, "Yu Gothic", メイリオ, "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
                }
            }
        }
        .sp_btn,
        .sp_nav{
            display: none;
        }
    }

    @media screen and (max-width: 1100px){
        .header_wrap{
        .pc_nav
        {
            display: none;
        }
        .sp_btn{
            display: block;
            position: absolute;
            top: 20px;
            right: 25px;
            z-index: 2;
            height: 23px;
            cursor: pointer;
            
            span{
                display: block;
                position: relative;
                top: 10px;
                width: 33px;
                height: 3px;
                border-radius: 2px;
                background: #fff;
            }
            span::before,
            span::after {
                content: "";
                display: block;
                position: absolute;
                width: 33px;
                height: 3px;
                border-radius: 2px;
                background: #fff;
                transition: 0.3s;
    
            }
            span::before{
                bottom: 10px;
            }
            span::after{
                top: 10px;
            }
        }
        }
            /* ハンバーガー 閉じる */
    .sp_btn.open span {
        background: transparent;
    }
        .sp_btn.open span::before{
            bottom: 0;
            transform: rotate(45deg);
        }
        .sp_btn.open span::after{
            top: 0;
            transform: rotate(135deg);
        }
        .sp_nav{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 1;
            background: rgba(0, 0, 0, 0.8);
            ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            li{
                padding: 20px 0;
                color: #fff;
                font-size: 18px;
                font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
                "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
                "ＭＳ 明朝", serif;
                text-align: center;
                }
                }
                
            }
    }
}

.slick-dots {
    bottom: 20px;
    li button:before,
li.slick-active button:before {
    color: #fff;
}
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

@media screen and (max-width: 767px){
    header{
        .header_wrap{
            .header_logo{
                width: 186px;
            }
        }
    }
}

.catch{
    margin: 100px 0;
    text-align: center;
    .catch__lead{
        margin-bottom: 48px;
        font-size: 30px;
    }
    .catch__title{
        margin-bottom: 42px;
        font-size:82px;
        line-height: 1.17;
        letter-spacing: 0.1em; 
    }
    .catch__text{
        font-size: 23px;
        line-height: 1.65;
        letter-spacing: 0.1em;
    }
}
@media screen and (max-width: 1100px){
    .catch{
        .catch__title{
            font-size: 62px;
        }
        .catch__text{
            font-size: 19px;
        }
    }
}
@media screen and (max-width: 767px){
    .catch{
        margin: 42px 0 0 0;
        .catch__lead{
            margin-bottom: 22px;
            font-size: 17px;
        }
        .catch__title{
            margin-bottom: 22px;
            font-size: 38px;
            line-height: 1.16;
            letter-spacing: 0.02em;
        }
        .catch__text{
            margin-bottom: 0;
            padding: 0 18px;
            font-size: 16px;
            line-height: 1.875;
            letter-spacing: 0.1em;
        }
    }
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1000px;
    margin: 0 auto 107px;
    .sp__title{
        display: none;
    }
    h2{
        padding-top: 56px;
    }
    .about__img{
        width: 50%;
        max-width: 500px;
        overflow: hidden;
        img{
            border-bottom-right-radius: 80px;
        }
    }
    .about__wrap{
        width: 41%;
        padding: 0 10px 0 7%;
        h2{
            text-align: left;
        }
        .about__wrap__lead{
            margin-bottom: 20px;
            font-size: 44px;
            line-height: 1.39;
        }
        .about__wrap__text{
            font-size: 16px;
            line-height: 1.63;

        }
    }
    }
@media screen and (max-width: 1100px){
    .about{
        .about__wrap{
            .about__wrap__lead{
                font-size: 36px;
                line-height: 1.25;
            }
            .about__wrap__text{
                font-size: 16px;
                line-height: 1.75;
            }
        }
    }
}
@media screen and (max-width: 767px){
        .about{
            display: block;
            margin: 0;
            padding: 0;
          .sp__title{
            display: block;
            height: 45px;
            margin-bottom: 15px;
            padding-top: 55px;
          }
          .about__img{
            img{
                border-bottom-right-radius: 0px;
            }
          }
          .about__wrap{
            width: auto;
            margin-bottom: 45px;
            padding: 0 20px;
            h2{
                display: none;
            }
            .about__wrap__lead{
                margin-bottom: 20px;
                padding-top: 35px;
                font-size: 36px;
                line-height: 1.25;
            }
            .about__wrap__text{
                line-height: 1.75;
            }
          }
        }
}
    .menu{
        margin-bottom: 90px;
        ul{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 1000px;
            margin: 0 auto;
            padding: 0 10px;
            li{
                width: 30%;
                max-width: 300px;
                .menu__img{
                    img{
                        border-top-right-radius: 42px;
                    }
                }
                h3{
                    margin: -10px 0 15px 0;
                    padding-left: 15px;
                    font-size: 38px;
                    color: #d30202;
                }
                p {
                    font-size: 17px;
                    line-height: 1.47;
                  }
            }
        }
    }
    @media screen and (max-width: 767px){
        .menu{
            margin-bottom: 92px;
            ul{
                padding: 0 38px;
                display: block;
                li{
                    width: 100%;
                    max-width: 100%;
                    margin: 0 auto 60px;
                    .menu__img{
                        img{
                            width: 100%;
                        }
                    }
                    h3{
                        margin: -10px 0 10px -10px;
                        font-size: 40px;
                        font-weight: normal;
                    }
                    p{
                        font-size: 17px;
                        line-height: 1.59;
                    }
                }
            }
        }
    }
    .gallery{
        margin: 0 auto 70px;
        .gallery__wrap{
            display: flex;
        }
    }
    @media screen and (max-width: 767px){
        .gallery{
            margin: 0 auto 30px;
        }
    }
    .event{
        margin: 0 auto 80px;
        padding : 0 10px;
        .event__list{
            display: flex;
            justify-content: center;
            max-width: 1000px;
            margin: 0 auto;
            padding: 40px;
            box-sizing: border-box;
            background: #ffffff;
            border: solid 3px #4f260b;
        ol{
            margin: 0;
            padding: 0;
            li{
                display: flex;
                margin: 0 auto 20px;
                time{
                    padding-right: 55px;
                    font-size: 23px;
                }
                a{
                    font-size: 23px;
                    text-decoration: underline;
                    text-align: start;
                }

            }
            li:last-child{
                margin: 0 auto;
            }
        }
    }
    }
    @media screen and (max-width: 767px){
        .event{
            margin-bottom: 33px;
            .event__list{
                width: 90%;
                padding: 25px 30px;
                ol{
                    width: 100%;
                    li{
                        display: block;
                        text-align: left;
                        time{
                            font-size: 16px;
                        }
                        a{
                            display: block;
                            width: 100%;
                            font-size: 16px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
    .access{
            iframe{
                display: block;
                width: 100%;
                height: 470px;
            }
        }

    @media screen and (max-width: 767px){
        .access{
        iframe{
            width: 100%;
            height: 191px;
        }
    }
    }
    footer{
        background-color: #ffffff;
        .to-top{
            position: fixed;
            bottom: 50px;
            right: 5%;
            width: 125px;
            height: 125px;
        }
        .to-top:hover{
            opacity: 1;
        }
        .footer__wrap{
            display: flex;
            justify-content: flex-start;
            max-width: 1000px;
            margin: 0 auto;
            padding: 85px 10px;
        .footer__logo{
            width: 227px;
            margin-right: 70px;
        }
        .footer__info{
            font-size: 20px;
            line-height: 1.95;
            color: #000000;
        }
    }
    .footer_copyright{
        padding-bottom: 80px;
        text-align: center;
        color: #000000;
    }
    }
    @media screen and (max-width: 767px){
        footer{
            .to-top{
                width: 100px;
                height: 100px;
                right: 20px;
            }
            .footer__wrap{
                display: block;
                padding: 40px  20px 35px;
                .footer__logo{
                    padding-bottom: 20px;
                }
                .footer__info{
                    font-size: 18px;
                    line-height: 1.7;
                }
        }
        .footer_copyright{
            padding-bottom: 35px;
            font-size: 16px;
        }
    }
}