@charset "UTF-8";
header .header_wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 7% 0px 2.8%;
}
header .header_wrap .header_logo {
  max-width: 226px;
}
header .header_wrap .header_logo img {
  width: 100%;
  vertical-align: bottom;
  border: none;
}
header .header_wrap .pc_nav {
  display: block;
}
header .header_wrap .pc_nav ul {
  display: flex;
  justify-content: space-between;
}
header .header_wrap .pc_nav ul li {
  width: 105px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  font-family: 游ゴシック体, YuGothic, 游ゴシック, "Yu Gothic", メイリオ, "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  text-align: center;
}
header .header_wrap .sp_btn,
header .header_wrap .sp_nav {
  display: none;
}
@media screen and (max-width: 1100px) {
  header {
    /* ハンバーガー 閉じる */
  }
  header .header_wrap .pc_nav {
    display: none;
  }
  header .header_wrap .sp_btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 25px;
    z-index: 2;
    height: 23px;
    cursor: pointer;
  }
  header .header_wrap .sp_btn span {
    display: block;
    position: relative;
    top: 10px;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
  }
  header .header_wrap .sp_btn span::before,
  header .header_wrap .sp_btn span::after {
    content: "";
    display: block;
    position: absolute;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    transition: 0.3s;
  }
  header .header_wrap .sp_btn span::before {
    bottom: 10px;
  }
  header .header_wrap .sp_btn span::after {
    top: 10px;
  }
  header .sp_btn.open span {
    background: transparent;
  }
  header .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  header .sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
  }
  header .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
  }
  header .sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  header .sp_nav ul li {
    padding: 20px 0;
    color: #fff;
    font-size: 18px;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    text-align: center;
  }
}

.catch {
  margin: 107px 0 100px 0;
  text-align: center;
}
.catch p {
  margin-bottom: 48px;
  font-size: 30px;
}
.catch .catch__title {
  margin-bottom: 42px;
  font-size: 82px;
  line-height: 1.17;
  letter-spacing: 0.1em;
}
.catch .catch__text {
  font-size: 23px;
  line-height: 1.65;
  letter-spacing: 0.1em;
}

.about {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto 107px;
}
.about .about__img {
  margin-right: 8.7%;
  width: 50%;
  max-width: 500px;
  overflow: hidden;
}
.about .about__img img {
  border-bottom-right-radius: 16%;
}
.about .about__wrap {
  width: 41%;
  padding: 0 10px;
}
.about .about__wrap h2 {
  margin-bottom: 48px;
  padding-top: 56px;
  text-align: left;
}
.about .about__wrap .about__wrap__lead {
  margin-bottom: 20px;
  font-size: 44px;
  line-height: 1.39;
}
.about .about__wrap .about__wrap__text {
  font-size: 16px;
  line-height: 1.63;
}

.menu {
  margin-bottom: 90px;
}
.menu ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}
.menu ul li {
  width: 30%;
  max-width: 300px;
}
.menu ul li .menu__img img {
  border-top-right-radius: 42px;
}
.menu ul li h3 {
  margin: -10px 0 15px 0;
  padding-left: 15px;
  font-size: 38px;
  color: #d30202;
}
.menu ul li p {
  font-size: 17px;
  line-height: 1.47;
}

.gallery {
  margin: 0 auto 70px;
}
.gallery .gallery__wrap {
  display: flex;
}

.event {
  margin: 0 auto 80px;
}
.event .event__list {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  background: #ffffff;
  border: solid 3px #4f260b;
}
.event .event__list ol {
  margin: 0;
  padding: 0;
}
.event .event__list ol li {
  display: flex;
  margin: 0 auto 20px;
}
.event .event__list ol li time {
  padding-right: 55px;
  font-size: 23px;
}
.event .event__list ol li a {
  font-size: 23px;
  text-decoration: underline;
  text-align: start;
}
.event .event__list ol li:last-child {
  margin: 0 auto;
}

.access .access__map {
  width: 100%;
  height: 470px;
}
.access .access__map .access__map__img {
  display: block;
  width: 100%;
  height: 100%;
}

footer {
  background-color: #ffffff;
}
footer .to-top {
  position: fixed;
  bottom: 50px;
  right: 5%;
  width: 125px;
  height: 125px;
}
footer .to-top:hover {
  opacity: 1;
}
footer .footer__wrap {
  display: flex;
  justify-content: flex-start;
  max-width: 1000px;
  margin: 0 auto;
  padding: 85px 10px;
}
footer .footer__wrap .footer__logo {
  width: 227px;
  margin-right: 70px;
}
footer .footer__wrap .footer__info {
  font-size: 20px;
  line-height: 1.95;
  color: #000000;
}
footer .footer_copyright {
  padding-bottom: 80px;
  text-align: center;
  color: #000000;
}/*# sourceMappingURL=style.css.map */